.tabela {
    font-size: 14px;
}

.avaliacao {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.contador {
    border: 2px solid grey;
}

#observacao-div {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.observacao {
    width: 100%;
}

#infos {
    font-size: 18px;
}